In [ ]:
# Se ingresa la productora, entregando el revenue total y la cantidad de peliculas que realizó
# Ejemplo de retorno: La productora X ha tenido un revenue de x

# Creamos un dataframe en el que el nombre de la compañía es el que estamos buscando:

# Para ello, primero creamos un dataframe vacío:
s = pd.DataFrame()
# Ubicamos los lugares en los que se encuentra el nombre de la compañía que buscamos
for lista in df['production_companies_names']:
    if 'PWSTiF' in lista:
        e = df.loc[df.production_companies_names == lista]
        s = pd.concat([s,e], ignore_index=True)
        # Mediante lo anterior, hemos establecido la creación del dataframe que buscábamos obtener
         
# Eliminamos las filas repetidas que se crearon:
s = s.drop_duplicates()
# Restablecemos los índices:
s = s.reset_index(drop=True)

# Cantidad total de películas producidas por la compañía:
peliculas = s.shape[0]
print('Cantidad total de películas producidas por la compañía:', peliculas)

# Revenue total:
revenue_total = s['revenue'].sum()
print('Revenue total:', revenue_total)

In [ ]:
s = df.loc[df.collection_name == 'Police Story Collection']
# Cantidad de películas de la franquicia
peliculas = s.shape[0]
print(peliculas)
# Ganancia total
ganancia_total = s['return'].sum()
print(ganancia_total)

# Ganancia promedio
ganancia_promedio = s['return'].mean()
print(ganancia_promedio)

In [ ]:
# Obteniendo la duración y el año de estreno de una película
s = df.loc[df.title == "Jumanji"]
e = s['runtime'].to_list()[0]
print("Duración (en minutos) de la película Jumanji:", e)
x = s['release_year'].to_list()[0]
print("Año de estreno de la película Jumanji:", int(x))

In [ ]:
# Obteniendo cantidad de peliculas por idioma
contador = 0
for lista in df['spoken_languages_names']:
    
    if 'English' in lista:
        contador = contador+1
print('El idioma English aparece un total de', contador)

In [81]:
import pandas as pd
df = pd.read_csv("movies_dataset_limpio.csv")
print("tamaño:", df.shape)
df.sample(5)

tamaño: (45379, 20)

C:\Users\Usuario\AppData\Local\Temp\ipykernel_4756\3381768203.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("movies_dataset_limpio.csv")

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,title,vote_average,vote_count,collection_name,genre_names,production_companies_names,production_countries_names,spoken_languages_names,release_year,return
11934,0.0,13402,cn,"Ting-yin, a young novelist, is struggling to c...",3.062052,2006-01-01,0.0,108.0,Released,NaN,Re-cycle,6.6,41.0,NaN,"['Fantasy', 'Horror', 'Mystery', 'Thriller']",['Magic Head Film Production'],"['Hong Kong', 'Thailand']","['广州话 / 廣州話', '普通话']",2006.0,0.000000
38647,0.0,86063,de,Do you know how to turn ordinary water into a ...,0.724011,2012-01-26,0.0,0.0,Released,NaN,Bottled Life: Nestle's Business with Water,6.3,13.0,NaN,['Documentary'],[],[],[],2012.0,0.000000
5338,13000000.0,11442,en,Serial Killer Michael Myers is not finished wi...,8.502529,2002-07-01,37664855.0,94.0,Released,Evil finds its way home,Halloween: Resurrection,4.5,230.0,Halloween Collection,"['Horror', 'Thriller']",['Dimension Films'],['United States of America'],['English'],2002.0,2.897297
30767,0.0,92496,en,"""Police Academy"" styled film offers its laughs...",0.056566,1989-08-17,0.0,120.0,Released,"You don't have to be crazy to join, but if you...",Ninja Academy,4.7,3.0,NaN,['Comedy'],['Omega Entertainment'],['United States of America'],['English'],1989.0,0.000000
42629,0.0,427409,en,"A man leads a monotone, humdrum existence unti...",0.215795,2016-07-01,0.0,8.0,Released,NaN,Once Upon a Line,8.0,3.0,NaN,['Animation'],[],[],[],2016.0,0.000000

In [82]:
df2 = pd.read_csv('credits_limpio.csv')
print('tamaño', df2.shape)
df2.head()

tamaño (45476, 3)

,id,cast_names,crew_names
0,862,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."
1,8844,"['Robin Williams', 'Jonathan Hyde', 'Kirsten D...","['Larry J. Franco', 'Jonathan Hensleigh', 'Jam..."
2,15602,"['Walter Matthau', 'Jack Lemmon', 'Ann-Margret...","['Howard Deutch', 'Mark Steven Johnson', 'Mark..."
3,31357,"['Whitney Houston', 'Angela Bassett', 'Loretta...","['Forest Whitaker', 'Ronald Bass', 'Ronald Bas..."
4,11862,"['Steve Martin', 'Diane Keaton', 'Martin Short...","['Alan Silvestri', 'Elliot Davis', 'Nancy Meye..."

In [86]:
for i in df['id'][0:3]:
    print(i)
    print(type(i))

862
<class 'str'>
8844
<class 'str'>
15602
<class 'str'>

In [4]:
# Convertimos los tipos de los datos de la columna a str:
df2['id']=df2['id'].astype(str)

In [5]:
df3 = pd.merge(df, df2, on='id', how='outer')
print('tamaño:', df3.shape)
df3.head(1)

tamaño: (45542, 22)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_count,collection_name,genre_names,production_companies_names,production_countries_names,spoken_languages_names,release_year,return,cast_names,crew_names
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033.0,81.0,Released,NaN,...,5415.0,Toy Story Collection,"['Animation', 'Comedy', 'Family']",['Pixar Animation Studios'],['United States of America'],['English'],1995.0,12.451801,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."

In [19]:
for l in df3['crew_names'].head(1):
    print(l)

['John Lasseter', 'Joss Whedon', 'Andrew Stanton', 'Joel Cohen', 'Alec Sokolow', 'Bonnie Arnold', 'Ed Catmull', 'Ralph Guggenheim', 'Steve Jobs', 'Lee Unkrich', 'Ralph Eggleston', 'Robert Gordon', 'Mary Helen Leasman', 'Kim Blanchette', 'Marilyn McCoppen', 'Randy Newman', 'Dale E. Grahn', 'Robin Cooper', 'John Lasseter', 'Pete Docter', 'Joe Ranft', 'Patsy Bouge', 'Norm DeCarlo', 'Ash Brannon', 'Randy Newman', 'Roman Figun', 'Don Davis', 'James Flamberg', 'Mary Beth Smith', 'Rick Mackay', 'Susan Bradley', 'William Reeves', 'Randy Newman', 'Andrew Stanton', 'Pete Docter', 'Gary Rydstrom', 'Karen Robert Jackson', 'Chris Montan', 'Rich Quade', 'Michael Berenstein', 'Colin Brady', 'Davey Crockett Feiten', 'Angie Glocka', 'Rex Grignon', 'Tom K. Gurney', 'Jimmy Hayward', 'Hal T. Hickel', 'Karen Kiser', 'Anthony B. LaMolinara', 'Guionne Leroy', 'Bud Luckey', 'Les Major', 'Glenn McQueen', 'Mark Oftedal', 'Jeff Pidgeon', 'Jeff Pratt', 'Steve Rabatich', 'Roger Rose', 'Steve Segal', 'Doug Sheppeck', 'Alan Sperling', 'Doug Sweetland', 'David Tart', 'Ken Willard', 'Thomas Porter', 'Mark Thomas Henne', 'Oren Jacob', 'Darwyn Peachey', 'Mitch Prater', 'Brian M. Rosen', 'Sharon Calahan', 'Galyn Susman', 'William Cone', 'Shelley Daniels Lekven', 'Bob Pauley', 'Bud Luckey', 'Andrew Stanton', 'William Cone', 'Steve Johnson', 'Dan Haskett', 'Tom Holloway', 'Jean Gillmore', 'Desirée Mourad', "Kelly O'Connell", 'Sonoko Konishi', 'Ann M. Rockwell', 'Julie M. McDonald', 'Robin Lee', 'Tom Freeman', 'Ada Cochavi', 'Dana Mulligan', 'Deirdre Morrison', 'Lori Lombardo', 'Ellen Devine', 'Lauren Beth Strogoff', 'Gary Rydstrom', 'Gary Summers', 'Tim Holland', 'Pat Jackson', 'Tom Myers', 'J.R. Grubbs', 'Susan Sanford', 'Susan Popovic', 'Dan Engstrom', 'Ruth Lambert', 'Mickie McGowan']

In [13]:
# Convertimos los tipos de los datos de la columna a list:
df3['crew_names']=df3['crew_names'].astype(list)

TypeError: dtype '<class 'list'>' not understood

In [22]:
import ast
for lista in df3['crew_names'].head(1):
    lista = ast.literal_eval(lista)
    if 'Joss Whedon' in lista:
        print(True)
    else:
        print(False)

True

In [21]:
import ast
for lista in df3['crew_names'].head(1):
    lista = ast.literal_eval(lista)
    print(lista)
    print(type(lista))

['John Lasseter', 'Joss Whedon', 'Andrew Stanton', 'Joel Cohen', 'Alec Sokolow', 'Bonnie Arnold', 'Ed Catmull', 'Ralph Guggenheim', 'Steve Jobs', 'Lee Unkrich', 'Ralph Eggleston', 'Robert Gordon', 'Mary Helen Leasman', 'Kim Blanchette', 'Marilyn McCoppen', 'Randy Newman', 'Dale E. Grahn', 'Robin Cooper', 'John Lasseter', 'Pete Docter', 'Joe Ranft', 'Patsy Bouge', 'Norm DeCarlo', 'Ash Brannon', 'Randy Newman', 'Roman Figun', 'Don Davis', 'James Flamberg', 'Mary Beth Smith', 'Rick Mackay', 'Susan Bradley', 'William Reeves', 'Randy Newman', 'Andrew Stanton', 'Pete Docter', 'Gary Rydstrom', 'Karen Robert Jackson', 'Chris Montan', 'Rich Quade', 'Michael Berenstein', 'Colin Brady', 'Davey Crockett Feiten', 'Angie Glocka', 'Rex Grignon', 'Tom K. Gurney', 'Jimmy Hayward', 'Hal T. Hickel', 'Karen Kiser', 'Anthony B. LaMolinara', 'Guionne Leroy', 'Bud Luckey', 'Les Major', 'Glenn McQueen', 'Mark Oftedal', 'Jeff Pidgeon', 'Jeff Pratt', 'Steve Rabatich', 'Roger Rose', 'Steve Segal', 'Doug Sheppeck', 'Alan Sperling', 'Doug Sweetland', 'David Tart', 'Ken Willard', 'Thomas Porter', 'Mark Thomas Henne', 'Oren Jacob', 'Darwyn Peachey', 'Mitch Prater', 'Brian M. Rosen', 'Sharon Calahan', 'Galyn Susman', 'William Cone', 'Shelley Daniels Lekven', 'Bob Pauley', 'Bud Luckey', 'Andrew Stanton', 'William Cone', 'Steve Johnson', 'Dan Haskett', 'Tom Holloway', 'Jean Gillmore', 'Desirée Mourad', "Kelly O'Connell", 'Sonoko Konishi', 'Ann M. Rockwell', 'Julie M. McDonald', 'Robin Lee', 'Tom Freeman', 'Ada Cochavi', 'Dana Mulligan', 'Deirdre Morrison', 'Lori Lombardo', 'Ellen Devine', 'Lauren Beth Strogoff', 'Gary Rydstrom', 'Gary Summers', 'Tim Holland', 'Pat Jackson', 'Tom Myers', 'J.R. Grubbs', 'Susan Sanford', 'Susan Popovic', 'Dan Engstrom', 'Ruth Lambert', 'Mickie McGowan']
<class 'list'>

In [47]:
df3.sample(10)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_count,collection_name,genre_names,production_companies_names,production_countries_names,spoken_languages_names,release_year,return,cast_names,crew_names
8926,0.0,17421,en,G.I. Joe faces a new enemy as an ancient socie...,1.806553,1987-08-01,0.0,93.0,Released,NaN,...,14.0,NaN,"['Animation', 'Action', 'Thriller', 'Science F...",['Sunbow Productions'],[],['English'],1987.0,0.0,"['Charlie Adler', 'Shuko Akune', 'Jack Angel',...","['Ron Friedman', 'Don Jurwich', 'Milton Gray',..."
7331,0.0,18329,zh,"Lai and his boyfriend, Ho, arrive in Argentina...",5.933971,1997-05-17,0.0,96.0,Released,NaN,...,103.0,NaN,"['Drama', 'Romance']","['Block 2 Pictures', 'Jet Tone Production', 'B...",['Hong Kong'],"['广州话 / 廣州話', '普通话', 'Español']",1997.0,0.0,"['Tony Leung Chiu-Wai', 'Leslie Cheung', 'Chan...","['Christopher Doyle', 'Wong Kar-wai', 'Wong Ka..."
24849,0.0,167581,de,"A promising career with the police, a baby on ...",5.98915,2013-05-27,0.0,100.0,Released,NaN,...,164.0,NaN,"['Drama', 'Romance']","['Südwestrundfunk', 'Salzgeber & Company Medie...",['Germany'],['Deutsch'],2013.0,0.0,"['Hanno Koffler', 'Max Riemelt', 'Katharina Sc...","['Monika Schindler', 'Dürbeck & Dohmen', 'Dürb..."
12236,0.0,15006,en,A deadly collision between a train and car lea...,7.625656,2007-09-01,22136.0,101.0,Released,NaN,...,14.0,NaN,['Drama'],[],[],['English'],2007.0,0.0,"['Kevin Bacon', 'Marcia Gay Harden', 'Miles He...",['Alison Eastwood']
42506,0.0,79909,ja,"Aoi, a young teacher with striking good looks,...",1.240719,2007-08-01,0.0,117.0,Released,NaN,...,4.0,Boys Love Collection,['Drama'],"['TLA Releasing', 'Tornado Film']",['Japan'],['日本語'],2007.0,0.0,"['Yoshikazu Kotani', 'Atsumi Kanno', 'Yuuki Ka...","['Kôtarô Terauchi', 'Maru Kariya', 'Takafumi Ô..."
3502,0.0,10642,en,"On a university scholarship, a good natured st...",6.244901,2000-07-21,0.0,98.0,Released,Dare to be different.,...,122.0,NaN,"['Drama', 'Comedy', 'Romance', 'Family']",['Columbia Pictures'],['United States of America'],['English'],2000.0,0.0,"['Jason Biggs', 'Mena Suvari', 'Zak Orth', 'Th...","['Twink Caplan', 'Amy Heckerling', 'Amy Hecker..."
35188,0.0,297789,ru,"Five friends – a poet, an actor, a painter, an...",0.290199,2014-11-05,0.0,105.0,Released,NaN,...,5.0,NaN,"['Romance', 'Drama', 'History']",['Krasnaya Strela'],['Russia'],['Pусский'],2014.0,0.0,"['Darya Ekamasova', 'Pavel Basov', 'Konstantin...","['Leonid Lebedev', 'Aleksey Fedorchenko', 'Ale..."
1652,0.0,25994,en,The plot of the story is interactions between ...,0.923637,1997-12-27,0.0,108.0,Released,NaN,...,10.0,NaN,['Drama'],[],"['United Kingdom', 'United States of America']",['English'],1997.0,0.0,"['Emma Thompson', 'Phyllida Law', 'Sheila Reid...",['Alan Rickman']
32996,0.0,331592,en,"For years, we have tried to harness the power ...",1.957695,2015-09-11,0.0,100.0,Released,Hide your thoughts.,...,31.0,NaN,"['Drama', 'Thriller', 'Science Fiction']","['Young Medium', 'Listen Film']","['United States of America', 'Cambodia']",['English'],2015.0,0.0,"['Thomas Stroppel', 'Artie Ahr', 'Amber Marie ...","[""Haley O'Neil"", 'Edward White', 'David Cronin..."
22706,1000000.0,72767,en,The war in Vietnam is announced to finish. Ame...,1.648077,2012-01-01,0.0,95.0,Released,The Ambush Begins,...,13.0,NaN,"['Drama', 'Action', 'Thriller']","['Dimeworth Films', 'Mojo Promotions']",['Canada'],"['English', 'Pусский']",2012.0,0.0,"['Hugh Lambe', 'Bryan Larkin', 'Bob Cymbalski'...","['Neil Mackay', 'Sean McAulay', 'Neil Mackay']"

In [51]:
for a in df3['crew_names']:
    if type(a)==float:
        print('float')
        break

In [69]:
# Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo 
# devolver el éxito del mismo medido a través del retorno. Además, deberá devolver 
# el nombre de cada película con la fecha de lanzamiento, retorno individual, costo 
# y ganancia de la misma, en formato lista.

import ast

# Crearemos un dataframe en el que el nombre del director es el que estamos buscando:


# Pero antes, se ha observado que los tipos de datos de la columna 'crew_names' son de tipo str y de 
# tipo list, así que los convertiremos a str para evitar problemas con el método literal_eval
df3['crew_names']=df3['crew_names'].astype(str)


# Ahora crearemos un dataframe vacío:
s = pd.DataFrame()
# Ubicamos los lugares en los que se encuentra el nombre del director que buscamos:

for lista in df3['crew_names']:
    lista = ast.literal_eval(lista)
    if "Joss Whedon" in lista:
        
        e = df3.loc[df3.crew_names == str(lista)]
        s = pd.concat([s,e], ignore_index=True)
        # Mediante lo anterior, hemos establecido la creación del dataframe que buscábamos obtener
         
# Eliminamos las filas repetidas que se crearon:
s = s.drop_duplicates()
# Restablecemos los índices:
s = s.reset_index(drop=True)

In [71]:
print('tamaño:',s.shape)
s.head(14)

tamaño: (14, 22)

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,tagline,...,vote_count,collection_name,genre_names,production_companies_names,production_countries_names,spoken_languages_names,release_year,return,cast_names,crew_names
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,3.735540e+08,81.0,Released,NaN,...,5415.0,Toy Story Collection,"['Animation', 'Comedy', 'Family']",['Pixar Animation Studios'],['United States of America'],['English'],1995.0,12.451801,"['Tom Hanks', 'Tim Allen', 'Don Rickles', 'Jim...","['John Lasseter', 'Joss Whedon', 'Andrew Stant..."
1,70000000.0,8078,en,"Two hundred years after Lt. Ripley died, a gro...",15.57784,1997-11-12,1.620000e+08,109.0,Released,It's already too late.,...,1388.0,Alien Collection,"['Science Fiction', 'Horror', 'Action']","['Twentieth Century Fox Film Corporation', 'Br...",['United States of America'],['English'],1997.0,2.314286,"['Sigourney Weaver', 'Winona Ryder', 'Brad Dou...","['Jean-Pierre Jeunet', 'Joss Whedon', 'Bill Ba..."
2,7000000.0,10206,en,"Blonde, bouncy Buffy is your typical high scho...",4.941989,1992-07-24,1.662446e+07,86.0,Released,She knows a sucker when she sees one.,...,192.0,NaN,"['Action', 'Comedy', 'Horror']","['Twentieth Century Fox Film Corporation', 'Ku...",['United States of America'],['English'],1992.0,2.374922,"['Kristy Swanson', 'Donald Sutherland', 'Paul ...","['Fran Rubel Kuzui', 'Howard Rosenman', 'Joss ..."
3,75000000.0,7450,en,A young man finds out that he holds the key to...,7.515631,2000-06-16,3.675463e+07,94.0,Released,"When Earth Ends, The Adventure Begins.",...,320.0,NaN,"['Animation', 'Action', 'Science Fiction', 'Fa...","['Twentieth Century Fox Film Corporation', 'Da...",['United States of America'],"['English', '普通话']",2000.0,0.490062,"['Matt Damon', 'Bill Pullman', 'Drew Barrymore...","['Christopher Boyes', 'Christopher Boyes', 'Jo..."
4,120000000.0,10865,en,The world's most highly qualified crew of arch...,10.901602,2001-06-02,1.860537e+08,95.0,Released,Atlantis is waiting...,...,1257.0,Atlantis Collection,"['Animation', 'Family', 'Adventure', 'Science ...","['Walt Disney Pictures', 'Walt Disney Feature ...",['United States of America'],"['English', 'Français', 'Español']",2001.0,1.550448,"['Michael J. Fox', 'Corey Burton', 'Claudia Ch...","['Gary Trousdale', 'Kirk Wise', 'Ellen Keneshe..."
5,39000000.0,16320,en,When the renegade crew of Serenity agrees to h...,11.919995,2005-08-25,3.886946e+07,119.0,Released,Can't stop the signal.,...,1287.0,NaN,"['Science Fiction', 'Action', 'Adventure', 'Th...","['Universal Pictures', 'Barry Mendel Productio...",['United States of America'],"['English', '普通话']",2005.0,0.996653,"['Nathan Fillion', 'Gina Torres', 'Alan Tudyk'...","['Jack Green', 'David Newman', 'David V. Leste..."
6,200000.0,14301,en,"Dr. Horrible, an aspiring supervillain with hi...",8.927994,2008-07-15,3.000000e+00,42.0,Released,He has a Ph.D. in horribleness!,...,236.0,NaN,"['Adventure', 'Action', 'Comedy', 'Science Fic...",[],['United States of America'],['English'],2008.0,0.000015,"['Neil Patrick Harris', 'Nathan Fillion', 'Fel...","['Joss Whedon', 'Joss Whedon', 'Joss Whedon', ..."
7,220000000.0,24428,en,When an unexpected enemy emerges and threatens...,89.887648,2012-04-25,1.519558e+09,143.0,Released,Some assembly required.,...,12000.0,The Avengers Collection,"['Science Fiction', 'Action', 'Adventure']","['Paramount Pictures', 'Marvel Studios']",['United States of America'],['English'],2012.0,6.907081,"['Robert Downey Jr.', 'Chris Evans', 'Mark Ruf...","['Alan Silvestri', 'Christopher Boyes', 'Chris..."
8,30000000.0,22970,en,Five college friends spend the weekend at a re...,14.811958,2012-04-12,6.648608e+07,95.0,Released,If you hear a strange sound outside... have sex,...,2314.0,NaN,"['Horror', 'Thriller']","['Lionsgate', 'Mutant Enemy Productions']",['United States of America'],"['English', '日本語']",2012.0,2.216203,"['Kristen Connolly', 'Chris Hemsworth', 'Anna ...","['David Julyan', 'Heike Brandstatter', 'Coreen..."
9,0.0,91356,en,A behind-the-scenes look at San Diego Comic-Co...,2.728108,2011-09-10,0.000000e+00,88.0,Released,NaN,...,15.0,NaN,['Documentary'],[],['United States of America'],['English'],2011.0,0.000000,"['Seth Rogen', 'Kevin Smith', 'Corey Feldman',...","['Stan Lee', 'Joss Whedon', 'Joss Whedon', 'Ro..."
10,0.0,91739,en,A modern retelling of Shakespeare's classic co...,5.455903,2012-09-08,0.000000e+00,107.0,Released,Shakespeare Knew How to Throw a Party,...,117.0,NaN,['Comedy'],[],['United States of America'],['English'],2012.0,0.000000,"['Amy Acker', 'Alexis Denisof', 'Nathan Fillio...","['William Shakespeare', 'Joss Whedon', 'Joss W..."
11,1000000.0,226448,en,Two seemingly unconnected souls from different...,8.448518,2014-04-20,0.000000e+00,105.0,Released,Two strangers. One extraordinary connection.,...,275.0,NaN,"['Drama', 'Romance', 'Science Fiction']","['Night and Day Pictures', 'Bellwether Pictures']",['United States of America'],['English'],2014.0,0.000000,"['Zoe Kazan', 'Michael Stahl-David', 'Nikki Re...","['Brin Hill', 'Joss Whedon']"
12,280000000.0,99861,en,When Tony Stark tries to jumpstart a dormant p...,37.37942,2015-04-22,1.405404e+09,141.0,Released,A New Age Has Come.,...,6908.0,The Avengers Collection,"['Action', 'Adventure', 'Science Fiction']","['Marvel Studios', 'Prime Focus', 'Revolution ...",['United States of America'],['English'],2015.0,5.019299,"['Robert Downey Jr.', 'Chris Hemsworth', 'Mark...","['Danny Elfman', 'Christopher Boyes', 'Christo..."
13,0.0,141052,en,Fueled by his restored faith in humanity and i...,25.944629,2017-11-15,0.000000e+00,0.0,Post Production,NaN,...,0.0,Justice League Collection,"['Action', 'Adventure', 'Fantasy', 'Science Fi...","['DC Comics', 'Kennedy Miller Productions', 'L...",['United States of America'],['English'],2017.0,0.000000,"['Ben Affleck', 'Henry Cavill', 'Gal Gadot', '...","['Charles Roven', 'Danny Elfman', 'Ben Affleck..."

In [72]:
# el éxito del mismo medido a través del retorno
# Return total del director:
return_director = s['return'].sum()
print('El return total conseguido por el director es:', return_director)

El return total conseguido por el director es: 34.320769500977356

In [79]:
# Además, deberá devolver el nombre de cada película con 
# la fecha de lanzamiento, retorno individual, costo 
# y ganancia de la misma, en formato lista.

peliculas_director = list(s['title'])
print('peliculas del director:',peliculas_director)

estreno_peliculas = list(s['release_date'])
print('Fechas de estreno:', estreno_peliculas)

retorno_peliculas = list(s['return'])
print('Return individual:', retorno_peliculas)

costo_peliculas = list(s['budget'])
print('Costo individual:', costo_peliculas)

ganancia_peliculas = list(s['revenue']-s['budget'])
print('Ganancia individual:', ganancia_peliculas)

peliculas del director: ['Toy Story', 'Alien: Resurrection', 'Buffy the Vampire Slayer', 'Titan A.E.', 'Atlantis: The Lost Empire', 'Serenity', "Dr. Horrible's Sing-Along Blog", 'The Avengers', 'The Cabin in the Woods', "Comic-Con Episode IV: A Fan's Hope", 'Much Ado About Nothing', 'In Your Eyes', 'Avengers: Age of Ultron', 'Justice League']
Fechas de estreno: ['1995-10-30', '1997-11-12', '1992-07-24', '2000-06-16', '2001-06-02', '2005-08-25', '2008-07-15', '2012-04-25', '2012-04-12', '2011-09-10', '2012-09-08', '2014-04-20', '2015-04-22', '2017-11-15']
Return individual: [12.4518011, 2.3142857142857145, 2.3749222857142858, 0.4900617866666666, 1.5504477083333332, 0.9966529230769232, 1.5e-05, 6.907081409090909, 2.2162026666666668, 0.0, 0.0, 0.0, 5.019298907142857, 0.0]
Costo individual: [30000000.0, 70000000.0, 7000000.0, 75000000.0, 120000000.0, 39000000.0, 200000.0, 220000000.0, 30000000.0, 0.0, 0.0, 1000000.0, 280000000.0, 0.0]
Ganancia individual: [343554033.0, 92000000.0, 9624456.0, -38245366.0, 66053725.0, -130536.0, -199997.0, 1299557910.0, 36486080.0, 0.0, 0.0, -1000000.0, 1125403694.0, 0.0]

In [80]:
    # Se ingresa el nombre de un director que se encuentre dentro de un dataset debiendo 
    # devolver el éxito del mismo medido a través del retorno. Además, deberá devolver 
    # el nombre de cada película con la fecha de lanzamiento, retorno individual, costo 
    # y ganancia de la misma, en formato lista.

    import ast

    # Crearemos un dataframe en el que el nombre del director es el que estamos buscando:


    # Pero antes, se ha observado que los tipos de datos de la columna 'crew_names' son de tipo str y de 
    # tipo list, así que los convertiremos a str para evitar problemas con el método literal_eval
    df3['crew_names']=df3['crew_names'].astype(str)


    # Ahora crearemos un dataframe vacío:
    s = pd.DataFrame()
    # Ubicamos los lugares en los que se encuentra el nombre del director que buscamos:

    for lista in df3['crew_names']:
        lista = ast.literal_eval(lista)
        if 'Joss Whedon' in lista:
        
            e = df3.loc[df3.crew_names == str(lista)]
            s = pd.concat([s,e], ignore_index=True)
            # Mediante lo anterior, hemos establecido la creación del dataframe que buscábamos obtener
         
    # Eliminamos las filas repetidas que se crearon:
    s = s.drop_duplicates()
    # Restablecemos los índices:
    s = s.reset_index(drop=True)

    # Return total del director:
    return_director = s['return'].sum()

    # Nombre de cada película en el que el director trabajó:
    peliculas_director = list(s['title'])

    # Fecha de estreno de cada película:
    estreno_peliculas = list(s['release_date'])

    # Return individual de cada película:
    return_peliculas = list(s['return'])

    # Costo de cada película:
    costo_peliculas = list(s['budget'])

    # Ganancia de cada película:
    ganancia_peliculas = list(s['revenue']-s['budget'])